.Book {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 84vh;
}

.book-details-container {
    height: auto;
    width: 1100px;
    margin: 30px;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.description-box {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.book-cover {
    width: 40%;
}

.book-cover img {
    width: 100%;
    object-fit: contain;
}

.book-introduce {
    width: 60%;
}

.price-box {
    height: 50px;
    width: 550px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #f1f3f5;
}

.price-box .text {
    float: left;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: gray;
}

.price-box .price {
    float: left;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 152 , 1);
    font-weight: bold;
}

.price-box .symbol {
    font-size: 20px;
    line-height: 20px;
    margin-top: 17px;
}

.book-introduce p {
    font-size: 14px;
    color: #0a1612;
}

.button-box {
    width: 100%;
    margin-top: 40px;
}

button {
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f1f3f5;
    color: #0a1612;
    text-decoration: none;
    border: none;
}

.button-buy {
    width: 120px;
    border-radius: 15px 0 0 15px;
    background-color: rgb(255, 152 , 1);
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.button-cart {
    width: 150px;
    border-radius: 0 15px 15px 0;
    background-color: #122930;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

hr {
    width: 1000px;
    margin-top: 30px;
    border: 1px solid gainsboro;
}

.detail-box {
    width: 1000px;
    margin-left: 50px;
}

.detail-box h3 {
    font-size: 16px;
}

.detail-box p {
    font-size: 14px;
}

.comment-box {
    width: 1000px;
    margin-left: 50px;
}

.comment-box .comment-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-box h3 {
    font-size: 16px;
    line-height: 30px;
    display: inline;
    margin-right: 30px;
}

.comment-box a {
    font-size: 14px;
    margin-right: 5px;
    line-height: 30px;
    display: inline;
    margin-bottom: 0;
}

.comment-box textarea {
    resize: none;
    width: 980px;
    height: 50px;
    padding: 10px;
    color: #0a1612;
    border-radius: 10px;
    border-color: gainsboro;
    background-color: #f1f3f5;
}

.comment-box button {
    float: right;
    height: 40px;
    width: 100px;
    background-color: #122930;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.comment-container {
    margin-top: 20px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.comment-box .avatar-box {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment-box .avatar-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment-content {
    width: 940px;
    margin-left: 20px;
}

.comment-content h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}

.comment-content p {
    margin-top: 0;
    margin-bottom: 5px;
}

.comment-info {
    display: flex;
    flex-direction: row;
}

.comment-info img {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 7px;
}

.comment-info p {
    display: inline;
    font-size: 14px;
    color: gray;
    margin-right: 7px;
}

.comment-box .page-box {
    margin-top: 20px;
    margin-left: -10px;
    width: 1000px;
    height: 30px;
}

.page-box .page-up, .page-num, .page-down{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #0a1612;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
}

.comment-box .page-up:hover, .page-num:hover, .page-down:hover {
    background-color: gainsboro;
}

.page-box .page-up {
    background-image: url('../../public/arrow_left.png');
    background-size: cover;
}

.page-box .page-down {
    background-image: url('../../public/arrow_right.png');
    background-size: cover;
}