.Login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 30px;
  background-color: white;
  box-shadow: 0 0 15px gray;
}

.Login-box .login-title {
  display: flex;
  height: 140px;
}
  
.Login-box .login-title img {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
}
  
.Login-box .login-title h2 {
  position: relative;
  color: #0a1612;
  margin-left: 20px;
  font-size: 35px;
}
  
.Login-box .input-box {
  width: 280px;
}

.Login-box a {
  text-decoration: none;
  color: #0a1612;
  font-size: 14px;
  width: 280px;
  text-align: end;
  margin-top: 10px;
  transition: 2s;
}
  
.Login-box .button-box {
  width: 400px;
  height: 40px;
  margin-top:20px;
}
  
.Login-box button {
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 5px gray;
  background-color: #001529;
  margin-left: 60px;
} 
