.Login-header {
    height: 70px;
    background-color: #122930;
    overflow: hidden;
    top: 0;
    color: white;
}
  
  .Login-footer {
    height: 70px;
    background-color: rgb(245, 245, 245);
    color: black;
    bottom: 0;
    text-align: center;
    padding-top: 0px;
    position: fixed;
  }
  
  .Login-header, .Login-footer{
    position: absolute;
    width: 100%;
  }
  
  .logo-box {
    float: left;
    width: 250px;
  }
  
  .nav-box {
    float: left;
    width: 250px;
  }
  
  .search-box {
    float: left;
    display: flex;
    width: 300px;
  }
  
  .tool-box {
    float: right;
    width: 300px;
  }
  
  .search-box input {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
    color: darkgray;
    font-size: 16px;
    border: none;
  }
  
  .search-box input:focus {
    outline: gray solid 2px;
    color: #000;
  }
  
  .search-box button {
    z-index: 1;
    width: 60px;
    pointer-events: auto;
    height: 42px;
    background-color: gainsboro;
    margin-top: 15px;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    border: none;
  }

  .search-box button:hover {
    border: 1px solid #122930;
    cursor: pointer;
  }
  
  .icon-box {
    float: right;
    width: 100px;
  }
  
  .logo-box h2 {
    float: left;
    position: relative;
    margin-left: 30px;
  }
  
  .logo-box .logo {
    float: left;
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    top: 15px;
    left: 20px;
  }
  
  .nav-box a {
    float: left;
    position: relative;
    margin-left: 30px;
    line-height: 70px;
    color: white;
    text-decoration: none;
  }
  
  .tool-box a {
    float: right;
    position: relative;
    top: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }
  
  .tool-box a img {
    width: 30px;
    height: 30px;
  }
  
  .round-icon{
    position:relative;
    width: 50px;
    height: 50px;
    display: flex;
    top: 10px;
    border-radius: 50%;
  }
  
  .Login-footer > a {
    position: relative;
    top: 10px;
    text-decoration: none;
  }
  
  .Login-footer > p {
    position: relative;
    margin-top: 20px;
  }
  
  